---
import Layout from "../layouts/Layout.astro";
import ComparisonSlider from "../components/ComparisonSlider.astro";
import { Image } from "astro:assets";
import bichectomiaAfter from "../assets/images/treatments/bichectomia/bichectomia-after.png";
import bichectomiaBefore from "../assets/images/treatments/bichectomia/bichectomia-before.png";
---

<Layout title="Bichectomía - Clínica Odontológica">
    <section class="services-section">
        <h2 class="section-title">BICHECTOMÍA</h2>
        <div class="about-container">
            <div class="about-text animate-hidden slide-left">
                <h3>Perfilamiento facial</h3>
                <p>
                    La bichectomía es un procedimiento quirúrgico que consiste
                    en la extracción de las bolas de Bichat, acúmulos de grasa
                    ubicados en las mejillas.
                </p>
                <p>
                    El objetivo es afinar el rostro, resaltar los pómulos y
                    definir el reborde mandibular, logrando un aspecto más
                    estilizado.
                </p>
            </div>
            <div class="about-image animate-hidden slide-right">
                <Image
                    src={bichectomiaAfter}
                    alt="Bichectomía Resultado"
                    style="box-shadow: none; border-radius: 10px;"
                />
            </div>
        </div>

        <h3 class="section-title" style="margin-top: 50px;">CASOS DE ÉXITO</h3>
        <ComparisonSlider
            beforeImage={bichectomiaBefore}
            afterImage={bichectomiaAfter}
            beforeLabel="Antes"
            afterLabel="Después"
        />
    </section>
</Layout>
