---
import Layout from "../layouts/Layout.astro";
import ComparisonSlider from "../components/ComparisonSlider.astro";
import { Image } from "astro:assets";
import endodonciaAfter from "../assets/images/treatments/endodoncia/endodoncia-after.png";
import endodonciaBefore from "../assets/images/treatments/endodoncia/endodoncia-before.png";
---

<Layout title="Endodoncia - Clínica Odontológica">
    <section class="services-section">
        <h2 class="section-title">ENDODONCIA</h2>
        <div class="about-container">
            <div class="about-text animate-hidden slide-left">
                <h3>Salva tus dientes</h3>
                <p>
                    La endodoncia o tratamiento de conducto es el procedimiento
                    que nos permite conservar tus dientes naturales cuando la
                    pulpa (nervio) está afectada por caries profundas o
                    traumatismos.
                </p>
                <p>
                    Utilizamos tecnología mecanizada para tratamientos más
                    rápidos, seguros y efectivos.
                </p>
            </div>
            <div class="about-image animate-hidden slide-right">
                <Image
                    src={endodonciaAfter}
                    alt="Endodoncia Resultado"
                    style="box-shadow: none; border-radius: 10px;"
                />
            </div>
        </div>

        <h3 class="section-title" style="margin-top: 50px;">CASOS DE ÉXITO</h3>
        <ComparisonSlider
            beforeImage={endodonciaBefore}
            afterImage={endodonciaAfter}
            beforeLabel="Antes"
            afterLabel="Después"
        />
    </section>
</Layout>
