---
import Layout from "../layouts/Layout.astro";
import ComparisonSlider from "../components/ComparisonSlider.astro";
---

<Layout title="Endodoncia - Clínica Odontológica">
    <section class="services-section">
        <h2 class="section-title">ENDODONCIA</h2>
        <div class="about-container">
            <div class="about-text animate-hidden slide-left">
                <h3>Salva tus dientes naturales</h3>
                <p>
                    La endodoncia, conocida comúnmente como "tratamiento de
                    conducto", es el procedimiento que utilizan los odontólogos
                    para eliminar -en parte o en su totalidad- la pulpa del
                    diente y sellar el conducto pulpar.
                </p>
                <p>
                    Este tratamiento es necesario cuando la pulpa está inflamada
                    o infectada debido a caries profunda, procedimientos
                    dentales repetidos, o una grieta o astilla en el diente.
                </p>
            </div>
            <div class="about-image animate-hidden slide-right">
                <img
                    src="/images/treatments/endodoncia/endodoncia-after.png"
                    alt="Endodoncia Resultado"
                    style="box-shadow: none; border-radius: 10px;"
                />
            </div>
        </div>

        <h3 class="section-title" style="margin-top: 50px;">CASOS DE ÉXITO</h3>
        <ComparisonSlider
            beforeImage="/images/treatments/endodoncia/endodoncia-before.png"
            afterImage="/images/treatments/endodoncia/endodoncia-after.png"
            beforeLabel="Antes"
            afterLabel="Después"
        />
    </section>
</Layout>
