---
import Layout from "../layouts/Layout.astro";
import ComparisonSlider from "../components/ComparisonSlider.astro";
import { Image } from "astro:assets";
import mandibulaResult from "../assets/images/treatments/mandibula/mandibula-result.png";
import mandibulaBefore from "../assets/images/treatments/mandibula/mandibula-before.png";
---

<Layout title="Bioplastia Mandibular - Clínica Odontológica">
    <section class="services-section">
        <h2 class="section-title">BIOPLASTIA MANDIBULAR</h2>
        <div class="about-container">
            <div class="about-text animate-hidden slide-left">
                <h3>Define tu perfil</h3>
                <p>
                    La bioplastia mandibular es un procedimiento no quirúrgico
                    que permite definir y marcar el ángulo de la mandíbula y el
                    mentón mediante rellenos dérmicos como el ácido hialurónico.
                </p>
                <p>
                    Este tratamiento aporta fuerza y equilibrio al rostro,
                    mejorando el perfil y armonizando las facciones de manera
                    inmediata.
                </p>
            </div>
            <div class="about-image animate-hidden slide-right">
                <Image
                    src={mandibulaResult}
                    alt="Mandíbula Resultado"
                    style="box-shadow: none; border-radius: 10px;"
                />
            </div>
        </div>

        <h3 class="section-title" style="margin-top: 50px;">CASOS DE ÉXITO</h3>
        <ComparisonSlider
            beforeImage={mandibulaBefore}
            afterImage={mandibulaResult}
            beforeLabel="Antes"
            afterLabel="Después"
        />
    </section>
</Layout>
